# OSX files
#
.DS_Store

# Files marked for later removal, or temporary omission
#
_OLD_*
_SKIP_*

# Sublime text editor
#
*.sublime-project
*.sublime-workspace

# PyCharm (and other JetBrains) IDE
#
.idea

# Compile output
#
target

log.txt

